muon - Xin phép đi muộn.
nghisang- Báo nghỉ phép sáng nay.
nghichieu- Báo nghỉ phép chiều nay.
nghifull- Báo nghỉ phép cả ngày hôm nay.
aidimuonhomnay- Xem danh sách đi muộn hôm nay.
tienquy- Kiềm tra tiền quỹ.
lichsugiaingan- Kiểm tra lịch sử giải ngân.
tongketdimuon- Xem tổng kết đi muộn.
zalopic- Xem lại ảnh qr.
giaingan- Lưu lại lịch sử giải ngân.
aichuadongtien- Xem ai chưa đóng tiền.
dongtien- Confirm đã đóng phạt.